<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Pago Hati App</title>
    </head>
    <body>
        <!-- <h1>Paypal</h1> -->
        <h2>Espere un momento...</h2>
        <form name="f1" action="/paypal">
            <!-- <button type="submit">Pagar</button> -->
        </form>
    </body>
</html>
